.form-control {
  padding: 0px !important;
  border: none;
  font-size: 14px;


}
.search{
  height: 42px;
  width: 370px;
  font-size: 14px;

}

.search_bar{
  margin-bottom: 20px;
}

#exampleFormControlInput1{
  border: rgb(220, 218, 218) solid 1px;
}
