<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to users_path, class: "navbar-brand" do %>
      <%= image_tag "logo_vinklo.png", class: "logo"%>
    <% end %>


  </div>
</div>
